
<h3>Pragmatic Order Received</h3>

<p>Thank you  for your recent order.</p>

<p>You ordered the following items.</p>

<table>
  <tr>
    <th colspan="2">Qty</th>
    <th>Description</th>
  </tr>
  <%= render @order.line_items %>
</table>

